Use to get summary counts for gender of subjects + mean age of participants for nested demographics info

In [2]:
import pandas as pd

df = pd.read_csv("QT DB age_gender_data.csv")
print(df.shape)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'QT DB age_gender_data.csv'

In [4]:
df.groupby(['Gender'])['Gender'].count()

Gender
F    6
M    8
Name: Gender, dtype: int64

In [5]:
df['Age'].mean()

67.5

In [6]:
phys = pd.read_csv("phys.csv")
mvf = pd.read_csv("mvf.csv")
mvt = pd.read_csv("mvt.csv")
mrvf = pd.read_csv("mrvf.csv")

In [7]:
all = pd.concat([phys, mvf, mvt, mrvf]).drop_duplicates(['Date of Birth']).reset_index(drop=True)
print(all.shape)
all.head()

(79, 71)

,Unnamed: 0,Patient No,MR VT File Name,MR File Name,Device Class,Episode date,Episode time,S&D Class,EGM prior,EGM source,...,Current Antiarrhythmic Meds .4,Current Antiarrhythmic Meds .5,Current Antiarrhythmic Meds .6,Current Antiarrhythmic Meds .7,Current Antiarrhythmic Meds .8,Current Antiarrhythmic Meds .9,VF Count,VF File Name,S & D Class,File Name
0,1.0,1350003.0,0003.vt5,0003.mr5,vt,3/28/96,3:27:28,vt,N,HVA - HVB,...,A,A,A,A,A,A,NaN,NaN,NaN,NaN
1,2.0,1350008.0,0008.vt1,0008.mr1,vf,1/9/96,21:34:42,vt,Y,HVA - HVB,...,A,A,A,A,A,A,NaN,NaN,NaN,NaN
2,3.0,1350013.0,0013.vt3,0013.mr3,vt,1/12/96,16:05:44,vt,N,HVA - HVB,...,A,A,A,A,A,A,NaN,NaN,NaN,NaN
3,4.0,1350015.0,0015.vt1,0015.mr1,vf,12/9/95,23:29:02,vt,N,HVA - HVB,...,A,A,A,A,A,A,NaN,NaN,NaN,NaN
4,5.0,1350026.0,0026.vt2,0026.mr2,vt,3/1/96,20:59:33,vt,N,HVA - HVB,...,A,A,A,A,A,A,NaN,NaN,NaN,NaN

In [8]:
all.groupby(['Sex'])['Sex'].count()

Sex
Female    15
Male      63
Name: Sex, dtype: int64

In [9]:
data = pd.read_csv("clinical_data.csv")
print(data.shape)
data.head()

(6388, 74)

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100

In [10]:
voice = pd.read_csv("voice data.csv")
print(voice.shape)
voice.head()

(208, 3)

           File  Age Sex
0  voice201.hea   44   F
1  voice017.hea   56   M
2  voice003.hea   34   M
3  voice163.hea   44   F
4  voice177.hea   22   F

In [11]:
voice.groupby(['Sex'])['Sex'].count()

Sex
F    135
M     73
Name: Sex, dtype: int64

In [12]:
voice['Age'].mean()

44.09134615384615

In [111]:
taichi = pd.read_csv("TCPCHA_Subjects.csv")
print(taichi.shape)
taichi.head()

(196, 22)

,Subj ID,Gender,Age,Visit,"Group (Control, Tai Chi, Master)",Random (Randomized or Expert/Master),Height,Describe activity level for the previous month: (nasa_activity_month_v1),Activity,Education,...,TrailA,TrailB,Trail_BARatio,Animals_C,Supermarket_C,Category_T,laps,Enter the distance walked on the last incomplete lap:,1. Distance walked:,Time
0,S0455,M,71,V1,Control,Random,67.0,3. 1+ hr per week,3,18.0,...,35.67,90.07,2.525091,19,23,42,5,93.06,572.81,598.8247
1,S0573,M,58,V1,Control,Random,70.0,6. Run 6-10mi or Walk 7-13mi per week,6,18.0,...,26.50,36.30,1.369811,19,23,42,15,27.45,709.05,599.2860
2,S0599,M,63,V1,Control,Random,70.0,5. Run 1-5mi or Walk 1.3-6mi per week,5,20.0,...,30.00,68.00,2.266667,18,25,43,4,95.95,479.75,598.8387
3,S0609,F,59,V1,Control,Random,65.5,3. 1+ hr per week,3,NaN,...,24.53,63.37,2.583367,26,24,50,7,3.74,675.39,598.9507
4,S0611,M,64,V1,Control,Random,70.0,6. Run 6-10mi or Walk 7-13mi per week,6,14.0,...,49.28,76.98,1.562094,19,18,37,7,5.58,677.23,598.6967

In [112]:
taichi = taichi.drop_duplicates(['Subj ID']).reset_index(drop=True)
taichi.groupby(['Gender'])['Gender'].count()

Gender
F    54
M    33
Name: Gender, dtype: int64

In [113]:
#print mean, min, max, sd age
print(taichi['Age'].mean())
print(taichi['Age'].min())
print(taichi['Age'].max())
print(taichi['Age'].std())

63.747126436781606
50
78
7.6283107807396515

In [16]:
af = pd.read_csv("atrialfib.csv")
print(af.shape)
af.head()

(32, 3)

           File  Age Sex
0  iaf3_afw.hea   67   F
1  iaf8_ivc.hea   68   M
2  iaf1_ivc.hea   81   F
3  iaf2_svc.hea   79   M
4  iaf1_tva.hea   81   F

In [17]:
af.groupby(['Sex'])['Sex'].count()

Sex
F    12
M    20
Name: Sex, dtype: int64

In [18]:
af['Age'].mean()

73.25

In [19]:
balance = pd.read_csv("balance.csv")
print(balance.shape)
balance.head()

(1930, 3)

       Filename  Age Sex
0  BDS01522.hea   26   F
1  BDS01244.hea   85   F
2  BDS01250.hea   80   F
3  BDS00628.hea   24   F
4  BDS01536.hea   20   F

In [24]:
balance.groupby(['Sex'])['Sex'].count()

Sex
F    1383
M     547
Name: Sex, dtype: int64

In [22]:
balance['Age'].mean()

47.39740932642487

In [23]:
import pandas as pd

df = pd.read_csv("patients.csv")
print(df.shape)
df.head()

(100, 6)

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10014729      F          21         2125       2011 - 2013         NaN
1    10003400      F          72         2134       2011 - 2013  2137-09-02
2    10002428      F          80         2155       2011 - 2013         NaN
3    10032725      F          38         2143       2011 - 2013  2143-03-30
4    10027445      F          48         2142       2011 - 2013  2146-02-09

In [24]:
# return count of M and F in sex
df.groupby(['gender'])['gender'].count()
mean = df['anchor_age'].mean()
sd = df['anchor_age'].std()
min = df['anchor_age'].min()
max = df['anchor_age'].max()
print(mean, sd, min, max)

gender
F    43
M    57
Name: gender, dtype: int64

In [25]:
# df['dob'] = pd.to_datetime(df['dob'])
# df['dod'] = pd.to_datetime(df['dod'])

# Calculate the age by subtracting dob from dod
mean = df['anchor_age'].mean()
sd = df['anchor_age'].std()
min = df['anchor_age'].min()
max = df['anchor_age'].max()
print(mean, sd, min, max)

61.75 16.169790388626602 21 91

(68.13333333333334, 14.697089658991827, 21, 92, {'m': 45, 'f': 45}, 90)

In [30]:
import json
from datetime import datetime

# Read the NDJSON file line by line and parse the information
patient_data = []
with open('Patient.ndjson', 'r') as file:
    for line in file:
        # Load the JSON object from the line
        json_obj = json.loads(line)

        patient_record = {
            "race": None,
            "ethnicity": None,
            "gender": json_obj.get("gender"),
            "birthDate": json_obj.get("birthDate"),
            "deceasedDateTime": json_obj.get("deceasedDateTime")
        }
        
        # Get race and ethnicity from extensions
        for ext in json_obj.get("extension", []):
            if ext["url"] == "http://hl7.org/fhir/us/core/StructureDefinition/us-core-race":
                patient_record["race"] = ext["extension"][0]["valueCoding"]["display"]
            elif ext["url"] == "http://hl7.org/fhir/us/core/StructureDefinition/us-core-ethnicity":
                patient_record["ethnicity"] = ext["extension"][0]["valueCoding"]["display"]
        
        # Calculate age if birthDate and deceasedDateTime are present
        if patient_record["birthDate"] and patient_record["deceasedDateTime"]:
            birth_date = datetime.strptime(patient_record["birthDate"], "%Y-%m-%d")
            deceased_date = datetime.strptime(patient_record["deceasedDateTime"], "%Y-%m-%d")
            age_years = deceased_date.year - birth_date.year
            if (deceased_date.month, deceased_date.day) < (birth_date.month, birth_date.day):
                age_years -= 1  # Adjust if birthday hasn't occurred yet that year
            patient_record["age"] = age_years

        # Append the patient record to the list
        patient_data.append(patient_record)

# Create a DataFrame from the patient data
df_patients = pd.DataFrame(patient_data)
df_patients.head()  # Display the first few records in the dataframe

    race               ethnicity  gender   birthDate deceasedDateTime   age
0  White  Not Hispanic or Latino  female  2128-05-06       2180-09-09  52.0
1  White  Not Hispanic or Latino    male  2089-06-05       2149-11-21  60.0
2  White  Not Hispanic or Latino    male  2111-03-12             None   NaN
3  White  Not Hispanic or Latino  female  2104-10-28             None   NaN
4  White  Not Hispanic or Latino    male  2114-09-10             None   NaN

In [32]:
# df_patients.groupby(['gender'])['gender'].count()
mean = df_patients['age'].mean()
sd = df_patients['age'].std()
min = df_patients['age'].min()
max = df_patients['age'].max()
print(mean, sd, min, max)

69.4375 14.038972253533514 38.0 91.0

In [46]:
ed = pd.read_csv("edstays.csv")
ed.head()
ed.drop_duplicates(subset=['subject_id'], inplace=True)
ed.shape

(64, 9)

In [47]:
ed.groupby(['gender'])['gender'].count()

gender
F    32
M    32
Name: gender, dtype: int64

In [65]:
mit = pd.read_csv("mit-bih.csv")
mit.groupby(['File'])['File'].count().size

46

In [58]:
mit.groupby(['Gender'])['Gender'].count()

Gender
F    22
M    24
Name: Gender, dtype: int64

In [60]:
mean = mit['Age'].mean()
sd = mit['Age'].std()
min = mit['Age'].min()
max = mit['Age'].max()
print(mean, sd, min, max)

63.67391304347826 17.775206637743842 23 89

In [72]:
ages = [25, 27, 34, 27, 32, 27, 25, 27, 24, 29, 27, 40, 20, 25, 28, 22, 27, 24, 27, 27, 29]
ages = pd.Series(ages)
print(ages.std())

4.20883424647321

In [90]:
df = pd.read_csv("subject-info.csv")
#drop row 2
df.drop(df.index[0], inplace=True)
df.head()
df['General information'] = df['General information'].astype(float)
print(df['General information'].max())

87.0

9.712183838372218e+157

In [104]:
vitaldb = pd.read_csv("clinical_data (1).csv")
vitaldb.head()
# convert age to float
# vitaldb['age'] = vitaldb['age'].astype(float)
# find age = >89
# get rid of columns past height
vitaldb = vitaldb.loc[:, :'height']
# vitaldb[vitaldb['age'] == '>89']
# drop rows with age >89
vitaldb = vitaldb[vitaldb.age != '>89']
# convert age to float
vitaldb['age'] = vitaldb['age'].astype(float)
# find where age = .3
vitaldb[vitaldb['age'] == .3]

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,icu_days,death_inhosp,age,sex,height
2319,2320,897,0,27741,-2291,28429.0,3529,27140,-844560,1574640,6,0,0.3,M,67.5

In [103]:
print(vitaldb['age'].min())

0.3

In [106]:
vis = pd.read_csv("visceral_fat.csv")
vis.head()

,number,age (years),ethnicity,diabetes mellitus,mean diastolic bp (mmhg),mean systolic bp (mmhg),central armellini fat (mm),current gestational age,pregnancies (number),first fasting glucose (mg/dl),bmi pregestational (kg/m),gestational age at birth,type of delivery,child birth weight (g),gestational dm
0,1,20,NaN,0,73.5,125.0,28.1,"12,1",1.0,NaN,33.20,"41,0",1,3840,0
1,2,28,0.0,0,75.5,112.0,43.1,"11,5",1.0,76.0,21.50,"39,1",0,2810,0
2,5,21,1.0,0,70.5,116.0,41.4,"12,6",1.0,86.0,21.41,"39,5",0,2455,0
3,9,25,0.0,0,92.5,167.0,39.6,"16,2",4.0,NaN,55.36,"39,4",0,3400,0
4,13,33,1.0,0,79.0,137.0,67.8,"11,2",2.0,86.0,30.85,"40,2",1,3930,1

In [108]:
#print mean age, sd, min, max
mean = vis['age (years)'].mean()
sd = vis['age (years)'].std()
min = vis['age (years)'].min()
max = vis['age (years)'].max()
print(mean, sd, min, max)

25.804511278195488 6.366887168896803 15 43

In [3]:
pat = pd.read_csv("PATIENTS (2).csv")
pat.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [4]:
pat.groupby(['gender'])['gender'].count()

gender
F    55
M    45
Name: gender, dtype: int64

In [ ]:
mean = vis['age (years)'].mean()
sd = vis['age (years)'].std()
min = vis['age (years)'].min()
max = vis['age (years)'].max()
print(mean, sd, min, max)